html, body{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.125em;
}

a:hover{
    cursor: pointer;
    cursor: hand;
}

a.disabled:hover{
    cursor: wait;
}

address{
    line-height: 1.875em;
}

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.list-group-item-text{
    font-size: 0.875em;
    line-height: 1em;
}

.list-group-item-heading{
    margin-bottom: 0px;   
}
.media-left{
    white-space: nowrap;    
    text-align: center; margin: 1em 0;    
}
.media-object{
    vertical-align: middle;
    width:  75px;
    height: auto;   
}

.spin {
  -webkit-animation: spin .8s infinite linear;
  -moz-animation: spin .8s infinite linear;
  -o-animation: spin .8s infinite linear;
  animation: spin .8s infinite linear;
     -webkit-transform-origin: 50% 50%;
         transform-origin:50% 50%;
         -ms-transform-origin:50% 50%; /* IE 9 */
}
.navbar-form{
 color:#fff;   
}
.content-container {
    margin-top: 50px;
    padding-top: 10px;
}

.jumbotron > .container{
    padding: 20px 0;
}

.react-spinner_bar {
    background-color: black;
}

.spacing-top {
    margin-top: 15px;
}

.spacing-bottom {
    margin-bottom: 15px;
}

.center-text {
    text-align: center;
}

.contact-detail > div > div{
    padding-bottom: 10px;
}

.contact-detail > div > a{
    margin-right: 15px;
}

.contact-detail > div > .panel-title{
}

.hide-on-small{
    display: none !important;
}

@media (min-width: 768px) {
    .hide-on-small{
        display: inherit !important;
    }
}

.hide-on-large{
   display: inherit !important;
}

@media (min-width: 768px) {
    .hide-on-large{
        display: none !important;
    }
}

.list-heading{
    background-color: #A0A0A0;
}

.partnertype-list-item{
    text-align: right;
}

.position-list-item{
    text-align: left;
}

.firm-list-item{
    text-align: right;
}

.mobile-header{
    text-align: center;
    width: calc(100% - 159px);
}

.navbar-nav{
    float:right;   
}

.disabled{
   color: #606060 !important;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}