<div class="container main-container" ng-model="partner">
<h4>{{ partner.name }}&nbsp;</h4>
    <form name="editProgramForm" class="form">
    <div>
        <div class="row">
            <div class="col-xs-2 header"><label for="name">Firmanavn</label></div>
            <div class="col-xs-10">
                <input class="btn btn-xs form-input" id="name" type="text" ng-model="partner.name" required>
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 header"><label for="address">Adresse</label></div>
            <div class="col-xs-10">
                <input class="btn btn-xs form-input" id="address" type="text" ng-model="partner.address" required>
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 header"><label for="zipCode">Postnummer</label></div>
            <div class="col-xs-10">
                <input class="btn btn-xs form-input" id="zipCode" type="text"ng-model="partner.zipCode" required>
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 header"><label for="city">Poststed</label></div>
            <div class="col-xs-10">
                <input class="btn btn-xs form-input" id="city" type="text" ng-model="partner.city" required>
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 header"><label for="email">Email</label></div>
            <div class="col-xs-10">
                <input class="btn btn-xs form-input" id="email" type="text" ng-model="partner.email" required>
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 header"><label for="phone">Telefon</label></div>
            <div class="col-xs-10">
                <input class="btn btn-xs form-input" id="phone" type="text" ng-model="partner.phone">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 header"><label for="city">Web</label></div>
            <div class="col-xs-10">
                <input class="btn btn-xs form-input" id="webSite" type="text" ng-model="partner.webSite">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 header"><label for="partnerType">Partnertype</label></div>
            <div class="col-xs-10">
                <!--<input class="btn btn-xs form-input" id="partnerType" type="text" ng-model="partner.partnerType"
                        required>-->
                <select class="btn btn-xs form-input" id="partnerType" ng-model="partner.partnerType">
                    <option value="Nettverkspartner">Nettverkspartner</option>
                    <option value="Hovedpartner">Hovedpartner</option>
                    <option value="VIP-partner">VIP-partner</option>
                </select>
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 header">&nbsp;</div>
            <div class="col-xs-10">
                <button class="btn btn-xs btn-success input form-btn" ng-click="savePartner(partner)">Lagre
                    info</button>
                <button class="btn btn-xs btn-default input form-btn" ng-click="getPartners()">Avbryt</button>
            </div>
        </div>
    </div>
    </form>
</div>