build/
external/
node_modules/

# IntellJ Idea config files
.idea/
*.iml
out/

/.idea/workspace.xml
.DS_Store
*.suo

#Files copied into phonegap
phonegap/www/index.html
phonegap/www/js
phonegap/www/main.css
