build/
external/
node_modules/

# IntellJ Idea config files
.idea/
*.iml
out/

/.idea/workspace.xml
.DS_Store
*.suo

#Files copied into phonegap
/phonegap/www/js/external
/phonegap/www/index.html
/phonegap/www/css/main.css
