/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */

}
.footer {
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 30px;
}

.footer-logo{
    max-height: 18px;
}

.no-margin{
    padding-bottom: 0px;
    margin-bottom: 0px;
}