.main-container{
    margin-top: 15px;
    background-color: #CACACA;
    border: 1px solid;
    border-color: #333333;
    border-radius: 5px 5px 5px 5px;
}

.header{
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    color: white;
    font-weight: bold;
    background-color: #888888;
}

.header-light{
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    font-weight: bold;
}

.form-input{
    padding: 0px 3px 0px 3px;
    margin: 3px 3px 3px 3px;
    width: 200px;
    height: 25px;
    color: #444444;
    font-weight: normal;
    border: 1px solid;
    border-color: #999999;
    border-radius: 3px 3px 3px 3px;
}

.form-field{
    padding: 0px 0px 0px 5px;
    width: 200px;
    height: 25px;
    color: #444444;
    font-weight: normal;
}

.form-btn{
    width: 150px;
    height: 25px;
    border: 1px solid;
    border-color: #999999;
    border-radius: 3px 3px 3px 3px;
}

.form input.ng-valid {
    color: green;
    width: 200px;
}
.form input.ng-invalid {
    color: red;
    width: 200px;
}

.form .ng-valid.ng-touched + span,
.form .ng-invalid.ng-touched + span{
    font-weight:bold;
    font-size: 18px;
}

.form .ng-valid.ng-touched + span:after {
    content:"\2713";
    color: green;
}

.form .ng-invalid.ng-touched + span:after {
    content:"\2715";
    color: red;
}
